<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Browser" value="Chrome" />
    <add key="UserName" value="xxxx@gmail.com" />
    <add key="Password" value="******" />
    <add key="WebSite" value="https://orbitz.com/" />
    <add key="ScreenshotStorage" value="C:\ScreenShot\" />
    <add key="ReportStorage" value="C:\Orbitz_TestReport\"/>
    <add key="PageLoadTimeout" value="40"/>
    <add key="ElementLoadTimeout" value="50"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>